<table class='table table-hover borderless'>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= image_tag(team.image_url, size: '30') unless team.image_url.blank? %></td>
        <td><%= link_to(team.name, team) %></td>
        <td>
          <%= render partial: 'subscribe_star', locals: { team: team } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
