<div id="team-tabs-all">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <div class="team-jumplink-container">
        <% Sport.ordered_sports.each do |sport_name| %>
        <a class="btn green-btn team-jumplink-btn" href="#<%= sport_name.underscore %>"><%= sport_name %></a>
      <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'team_table', locals: { all: false, teams_by_sport: Team.ordered_teams(Team.all), tab: 'all' } %>
</div>
