<h1>Teams</h1>

<ul class='nav nav-tabs' role='tablist'>
<li class='active'><a href="#favorites" role='tab' data-toggle='tab'>Favorites</a></li>
<li><a href="#all" role='tab' data-toggle='tab'>All</a></li>
  <% if current_user.managed_teams.any? %>
    <li><a href="#managed" role='tab' data-toggle='tab'>Managed</a></li>
  <% end %>
</ul>

<div class='tab-content'>
  <div class='tab-pane active' id="favorites">
    <%= render partial: 'teams_table_followed' %>
  </div>

  <div class='tab-pane' id="all">
    <%= render partial: 'teams_table_all' %>
  </div>

  <div class='tab-pane' id="managed">
    <%= render partial: 'teams_table_managed' %>
  </div>
</div>

<br>

<% if current_user.can?(:create, Team) %>
  <%= link_to 'New Team', new_team_path %>
<% end %>
