<% @accepted_parties.each do |accepted| %>

<% if accepted.organizer_id != current_user.id %>
    
      <div class="card" style="margin: 1%;" data-party-id="<%= accepted.id %>">

        <div class="padding">

            <% if accepted.present? %>
              <%= render partial: 'card', locals: {party: accepted, from: 'accepted'} %>
            <% end %>

        </div> <!-- END padding -->

        <div class="bottom">

            <% if accepted.present? %>
              <div class="edit-card-text">
                  <%= render partial: 'manage_party', locals: {party: accepted, from: 'accepted', spotsLeft: @spotsLeft} %>
              </div>
            <% end %>

        </div> <!-- END bottom -->
      </div>
 
  <% end %>
<% end %>
