<% c = 0 %>
<% @accepted_parties.each do |accepted| %>

<% if accepted.organizer_id != current_user.id %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>


    <!--div class="col-sm-6 col-md-4 add_rsvp_party"-->  
      <div class="card" style="margin: 1%;">

        <div class="padding">

            <% if accepted.present? %>
              <%= render partial: 'card', locals: {party: accepted} %>
            <% end %>

        </div> <!-- END padding -->

        <div class="bottom">

            <div class="edit-card-text">
              <% if accepted.present? %>
                <%= render partial: 'social_media', locals: {party: accepted, from: 'accepted', spotsLeft: @spotsLeft} %>
              <% end %>
            </div>

        </div> <!-- END bottom -->
      </div>
    <!--/div-->
    
    <% if c % 3 == 0 || @accepted_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
