<% c = 0 %>
<% @cancelled_parties.each do |cancelled| %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>


    <!--div class="col-sm-6 col-md-4 add_rsvp_party"-->  
      <div class="card" style="margin: 1%;" data-party-id="<%= cancelled.id %>">

        <div class="padding">

            <% if cancelled.present? %>
              <%= render partial: 'card', locals: {party: cancelled, from: 'cancelled'} %>
            <% end %>

        </div> <!-- END padding -->

        <div class="bottom">

            <% if cancelled.present? %>
              <div class="edit-card-text">
                  <%= render partial: 'manage_party', locals: {party: cancelled, from: 'cancelled', spotsLeft: @spotsLeft} %>
              </div>
            <% end %>

        </div> <!-- END bottom -->
      </div>
    <!--/div-->
    
    <% if c % 3 == 0 || @cancelled_parties.count == c %>
      </div>
    <% end %>

<% end %>
