<div class=" ch_location modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" class="close model_box_loc" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h2>Reason of Cancelling</h2>
        <div class="row">
          <div class="col-sm-12">
             <div class="form-group">
             <label>Description</label>
              <%#= f.label :cancel_description, "Description" %>
              <%#= f.text_area :cancel_description, class: "form-control ", rows: 4 %>

              <textarea class="cancel_description form-control" rows="4"></textarea>

            </div>
            <div class="col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3">
              
              <input type="button" class="btn btn-green btn-default" data-dismiss="modal" value="Submit Cancellation" onclick="cancelParty();">
              
              <%#= f.submit "Submit Cancellation", class: "btn btn-green btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var cancel_party = undefined;
  var cancel_party_url = undefined;

  $(document).ready(function() {

      $(".cancel-party").click(function() {
          cancel_party = $(this).attr("data-party-id");
          cancel_party_url = $(this).attr("data-party-url");
      }); 

  });


  function cancelParty() {

    var description = $('.cancel_description').val();
    description = String(description).trim();

    if((cancel_party&&cancel_party!="") && (cancel_party_url&&cancel_party_url!="") &&(description&&description!="")) {

      var data = {"cancel_description":description};

        $.ajax({
          type: 'POST',
          url: "/parties/" + cancel_party + "/cancel_party",
          dataType: "json",
          cache: false,
          data : data,
          success: function(response) {

              console.log(response);

              if(response.status=='success')
                window.location.href = "/parties/" + cancel_party_url;
          },
          error: function() {}
        });
    }

  }

</script>

<%# end %>