<div class=" ch_location modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" class="close model_box_loc" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h2>Reason of Cancelling</h2>
        <div class="row">
          <div class="col-sm-12">
             <div class="form-group">
              <h5>Description</h5>
              <input type="em5il" class="form-control" id="newLocCity"  data-user-id="<%= current_user.id %>" placeholder="City" required>
            </div>
            <div class="col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3">
              <button type="button" class="btn btn-green btn-default changeLoc" data-dismiss="modal">Submit Cancellation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>