 



<div style="background-color: #f9f9f9;
    width: auto;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
    height: 200px;
    color: #000;
    position: relative; display:inline-block">

    <div class="padding">

          <div class="holder" style="float: left;">
            <img alt="Placeholder" class="img-responsive center" src="/assets/placeholder-48fa3ed0cb9d3fdedc0b91ad30a9f61e.png" 
            style="max-width: 100% !important; height: 75px; border-radius: 50%; overflow: hidden">
          </div>
          
          <div class="caption">
            <a href="/parties/dallas-home">
              <h3> Dallas Homecoming </h3>
            </a>    
            <br/>
            
            <ul class="list-inline ">
              <li>Wednesday, 19 Jul 2017  6:04 PM</li>
              <li>Austin, TEXAS 78751</li>
            </ul>
          </div> <!-- END caption -->

      </div> <!-- END padding -->

      <div class="bottom">
        <div class="inline-block">
            
          <div class="social-media">
            <a style="margin: 0 10px 0 10px" title="Dallas" homecoming="" href="http://www.foamfingernation.com/parties/" dallas-home="" class=" tweet btn btn-green btn-circle" target="_blank"><i class="fa fa-twitter"></i></a>

                <a href="javascript:void(0);" title="Dallas" homecoming="">
                  <i>
                        </i></a><i><a class="prt_rsvp" data-method="put" data-remote="true" href="/parties/dallas-home/verify" rel="nofollow">Verify</a>
                  </i>
                
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.foamfingernation.com/parties/" dallas-home="" title="Dallas" homecoming="" target="_blank" class="btn btn-green btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>

          </div>
        </div>
      </div> <!-- END Bottom -->
</div>



<div style="background-color: #f9f9f9;
    width: auto;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
    height: 200px;
    color: #000;
    position: relative; display:inline-block">

    <div class="padding">

          <div class="holder" style="float: left;">
            <img alt="Placeholder" class="img-responsive center" src="/assets/placeholder-48fa3ed0cb9d3fdedc0b91ad30a9f61e.png" 
            style="max-width: 100% !important; height: 75px; border-radius: 50%; overflow: hidden">
          </div>
          
          <div class="caption">
            <a href="/parties/dallas-home">
              <h3> Dallas Homecoming </h3>
            </a>    
            <br/>
            
            <ul class="list-inline ">
              <li>Wednesday, 19 Jul 2017  6:04 PM</li>
              <li>Austin, TEXAS 78751</li>
            </ul>
          </div> <!-- END caption -->

      </div> <!-- END padding -->

      <div class="bottom">
        <div class="inline-block">
            
          <div class="social-media">
            <a style="margin: 0 10px 0 10px" title="Dallas" homecoming="" href="http://www.foamfingernation.com/parties/" dallas-home="" class=" tweet btn btn-green btn-circle" target="_blank"><i class="fa fa-twitter"></i></a>

                <a href="javascript:void(0);" title="Dallas" homecoming="">
                  <i>
                        </i></a><i><a class="prt_rsvp" data-method="put" data-remote="true" href="/parties/dallas-home/verify" rel="nofollow">Verify</a>
                  </i>
                
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.foamfingernation.com/parties/" dallas-home="" title="Dallas" homecoming="" target="_blank" class="btn btn-green btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>

          </div>
        </div>
      </div> <!-- END Bottom -->
</div>