<table class='table table-hover borderless'>
  <tbody>
    <% @user.parties.each do |party| %>
      <tr>
        <td><%= image_tag(party.team.image_url.thumb) unless party.team.nil? %></td>
        <td><h4><%= link_to(party.name, party) %></h4></td>
        <td><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= party.venue.address.city_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
