<% c = 0 %>

  <% @created_parties.try(:each) do |party| %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>
    
      <div class="card" style="margin: 1%;" data-party-id="<%= party.id %>">

        <div class="padding">
          
          <% if party %>
            <%= render partial: 'card', locals: {party: party, from: 'create'} %>
          <% end %>

        </div>


          <div class="bottom">

            <% if party.present? %>
              <div class="edit-card-text">
                  <%= render partial: 'manage_party', locals: {party: party, from: 'create', spotsLeft: @spotsLeft} %>
              </div>
            <% end %>

          </div>
      </div>

    <% if c % 3 == 0 || @created_parties.count == c %>
      </div>
    <% end %>

<% end %>