<% c = 0 %>
<% @pending_parties.each do |party_pending| %>

<% if party_pending.organizer_id != current_user.id %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>

    <!--div class="col-sm-6 col-md-4 add_rsvp_party"-->  
      <div class="card" style="margin: 1%;">

        <div class="padding">

            <% if party_pending.present? %>
              <%= render partial: 'card', locals: {party: party_pending} %>
            <% end %>
            
        </div> <!-- END padding -->

          <div class="bottom">

            <div class="float-left">
              <% if party_pending.present? %>
                <%= render partial: 'social_media', locals: {party: party_pending} %>
              <% end %>
            </div>

            <% if party_pending.present? %>
              <div class="float-right edit-card-text" style="margin-left: 10px;">
                  <%= render partial: 'manage_party', locals: {party: party_pending, from: 'verify_pending'} %>
              </div>
            <% end %>

          </div>
      </div>

    <!--/div-->


    <% if c % 3 == 0 || @pending_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
