<% c = 0 %>
<% @rvs_parties.each do |party_reservation| %>

<% if party_reservation.party.organizer_id != current_user.id %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>
    
    <!--div class="col-sm-6 col-md-4 add_rsvp_party"-->  
      <div class="card" style="margin: 1%;">

        <div class="padding">

            <% if party_reservation.party.present? %>
              <%= render partial: 'card', locals: {party: party_reservation.party, from: 'rsvp'} %>
            <% end %>
            
        </div> <!-- END padding -->

          <div class="bottom">

            <!--div class="float-left">
              <%# if party_reservation.party.present? %>
                <%#= render partial: 'social_media', locals: {party: party_reservation.party, from: 'rsvp'} %>
              <%# end %>
            </div-->

            <% if party_reservation.party.present? %>
              <div class="edit-card-text">
                  <%= render partial: 'manage_party', locals: {party: party_reservation.party, from: 'rsvp', spotsLeft: @spotsLeft} %>
              </div>
            <% end %>


            
          </div>
      </div>
    <!--/div-->

    <% if c % 3 == 0 || @rvs_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
