  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="create_header row">
        <div class="col-md-12 ">
          <div class=" cap col-md-4 pull-right ">
            <h2>CREATE  A<br>
              PARTY</h2>
              <p>Think you have what it takes 
                to host screaming fans on 
                gameday? Good luck.</p>
              </div>
            </div>
          </div>
          <div class="main-area">
            <div class="row">
              <div id='notice'>
                <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
              </div>
              <div class=" create col-md-12">
                <p id="notice"><%= notice %></p>
                <%= render 'new_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>