  <div id="page-content-wrapper">
    <div class="container-fluid signup_header">
      <div class="main-area">
        <div class="row">
          <div id='notice'>
            <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
          </div>
          <div class="col-md-12">
          </div>
          <div class="signup_box ">
            <%= render "devise/registrations/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$('#barsignup111111').click(function() {
    alert("ajsfncoaenf");
});
</script>
<%#= render "devise/shared/links" %>
