<div id="wrapper">
  <%= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="signup_box ">
          <%= render "devise/registrations/form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
