<p>Welcome <%= @to %>!</p>

<p>Your information has been sent to the Foam Finger Nation Administrators.  You will be contacted regarding your status as an Alumni Group Coordinator.</p>

<p>You can log into Foam Finger Nation at the link below:</p>

<p><%= link_to @url, @url %></p>
