<p>Welcome <%= @to %>!</p>

<p>We appreciate you making another commitment to your fandom and joining the social network for sports fans, Foam Finger Nation!</p>

<p>You can log into Foam Finger Nation at the link below:</p>

<p><%= link_to @url, @url %></p>

<p>To make the most of your foam finger awesomeness invite others 
to join, post on Facebook that you are now a member of the Nation, and send a 
tweet!</p>

<p>Thanks again for your support and we’ll see you at a watch 
party soon!</p>

<p>Foam Finger Nation</p>
