<table class='table table-hover borderless'>
  <tbody>
    <% @sport.teams.each do |team| %>
      <tr>
        <td><%= image_tag(team.image_url, size: '30') %></td>
        <td><h4><%= link_to(team.name, team) %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.can?(:create, Team) %>
  <%= link_to 'Add Team', new_sport_teams_path(@sport) %>
<% end %>
