<h3>Welcome to Foam Finger Nation!</h3>

<p>Your temporary password is <b><%= @password %></b>. You will be asked to change your password upon logging into the system.</p>

<p>You can log in <a href=<%= @url %>>here</a> </p>
