<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "form login" }) do |f| %>

  <%= devise_error_messages! %>

  <div class="input-group">
    <span class="input-group-addon">U</span>
    <%= f.text_field :email, :class => "form-control", :placeholder =>'Email Address', :autofocus => true %>
  </div>
  </br>
  
  <div class="input-group">
    <button class="btn btn-primary" type="submit">Send me reset password instructions</button>
  </div>
  </br>

<% end %>

<%= render :partial => "devise/shared/links" %>