<%#= render "sidebar" %>

<div class="about">
  <section id="about">
   <div class="container ">
    <div class="col-md-offset-1 col-md-4 col-sm-6 text-area">
     <h2>Run the Play</h2>
     <p>
      Foam Finger Nation is the premier online destination for sports fans to connect with each other locally and across the U.S. Centered on bringing fans closer together through shared watch parties, events, and road trips, FFN also looks to help bars attract and retain patrons throug incentive-based promotions targeted at specific fans within the area
    </p>
  </div>
  <div class="col-md-offset-2 col-md-4 col-sm-6 image-box">
    <%= image_tag "vendor/img_food1.png", class: "img-responsive",  alt: "icon"  %>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-offset-1 col-md-4 col-sm-6">
    <%= image_tag "vendor/banner_fing.png", class: "img-responsive none",  alt: "icon"  %>
  </div>
  <div class="col-md-offset-1 col-md-4 col-sm-6 mt60">
   <p>
    FFN was started by devoted sports fan Rhett Grametbauer to help dislocated sports fans find other fans of their favorite teams around the world. It is designed to give sports fans a medium to exchange fan experiences, road trip reviews and recommendations with each other. Create your Foam Finger Nation profile today, and find out "Where My Fans At?"
  </p>
</div>

</div>
</section>
<section id="watch_parties">
 <div class="container text-center">
  <div class="col-md-12 no-p" class="mrl-0">

   <h2 class="mrl-0">Watch Parties</h2>
   <div class="col-md-offset-2 col-md-8">
    <p>Looking for fans of your favorite team in your area? Check out the Watch Parties 
      in your city,organize one at a restaurant or sports bar,or host a private watch party in
      your own home. Just because you don't live where your team is doesn't mean you can't watch the game with other fans.
    </p>
  </div>
</div>
<div class="col-md-9 col-md-offset-2 bootom_img col-xs-12">
  <%= image_tag "vendor/bottom_bg1.png", class: "img-responsive"  %></div>
</div>
</section>
<section id="Promotions">
 <div class="container ">
  <div class=" col-md-12 no-p text-center">
   <h2 class="mrl-0">Promotions and Advertising</h2>
   <div class="col-md-offset-2 col-md-8">
    <p>
      Looking for fans of your favorite team in your area? Check out the Watch Parties in your city,organize one at a restaurant or sports bar,or host a private watch party in your own home. Just because you don't live where your team is doesn't mean you can't watch the game with other fans.
    </p>
  </div>
</div>
</div>
</section>
</div>