<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">

    <h1 class="info-page-title">About FFN</h1>
    <p>
      Foam Finger Nation is the premier online destination for sports fans to connect with each other locally and across the U.S. Centered on bringing fans closer together through shared watch-parties, events and road trips, FFN also looks to help bars attract and retain patrons through incentive-based promotions targeted at specific fans within the area. FFN was started by devoted sports fan Rhett Grametbauer to help dislocated sports fans find other fans of their favorite teams around the world. It is designed to give sports fans a medium to exchange fan experiences, road trip reviews and recommendations with eachother. Create your Foam Finger Nation profile today, and find out "Where My Fans At?"
    </p>

      
    <h1 class="info-page-title">Watch Parties</h1>
    <p>
      Looking for fans of your favorite team in your area? Check out the Watch Parties in your city, organize one at a restaurant or sports bar, or host a private watch party in your own home. Just because you don’t live where your team is doesn’t mean you can’t watch the game with other fans.
    </p>

    <h1 class="info-page-title">Promotions and Advertising</h1>
    <p>
      Promotions are available to any and all bars/establishments who register on FFN, so if the shoe fits, sign up and take a look at what we have to offer. Advertising placement at various points throughout the user experience on FFN is available to sports-related eastablishments, companies and/or companies providing a good or service that enhances the fan’s experience of following their team(s) and sports related activity. For more information on advertising on FFN please send an email to info@foamfingernation.com
    </p>
  </div>
</div> 