<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">

      <h1 class="info-page-title">Contact Us</h1>

      <p>
        Please send all suggestions or comments on how to improve Foam Finger Nation to info@foamfingernation.com.  We'll get back to you just as soon as we can and thanks in advance for your feedback!
      </p>
      
  </div>
</div> 
