  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header  row">
        <div class="col-md-12">
          <div class="sport_caption col-md-4 pull-right ">
            <h2 class="form-title">Contact Us</h2>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-6">
            <h3 class="form-title">Contact Us</h3>
              <p>
                Please send all suggestions or comments on how to improve Foam Finger Nation to info@foamfingernation.com.  We'll get back to you just as soon as we can and thanks in advance for your feedback!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
