<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">
      <h1 class="faq-header">I own a restaurant or sports bar - can I host a public watch party?</h1>

      <p>
        Yes, please register your establishment and you will be given the opportunity to submit a public watch party once you have established a profile.
      </p>

      <h1 class="faq-header">What is the difference between a public and private watch party?</h1>

      <p>
        An invitation to a public watch party is sent to every fan of the teams playing in the area of the watch party. A private watch party you must send invitations only to the fans you would like to attend.
      </p>

      <h1 class="faq-header">What is a Fanmark?</h1>
      <p>
        FFN allows fans to designate and inform other fans about unique aspects, statues, or experiences as a “Fanmark.” Think of it as a landmarks specific to sports that fans would need to see or experience if they were attending a game in person. Examples would be the Michael Jordan Statue in Chicago, Cask 'N Flagon in Boston, and the Louisville Slugger factory in Kentucky. Foam Finger Nation encourages fans to create their own Fanmarks with a review to help others decide if driving an extra two hours just to see the Babe Ruth Museum is really worth it. Fanmarks can also be food. Is a Dodger Dog really something to write home about? What is the best sandwich served in a professional football stadium? The Capicola & Cheese at Steelers’ games, the Chiefs’ Brisket Stack in Kansas City or the S’pacific Salmon BLT at Seahawks’ games? Create a Fanmark and let others know!
      </p>

      <h1 class="faq-header">Why do you prohibit some advertising on Foam Finger Nation?</h1>
      
      <p>
        FFN believes that sports fans want a minimal amount of advertising and to only see advertising that is related to them as fans. FFN was envisioned as an only sports networking site so anything that takes away from this vision is prohibited from the website.
      </p>

      <h1 class="faq-header">How do I recommend ideas or changes to the webmaster?</h1>
      
      <p>
        FFN was created for you the sports fan so we would greatly appreciate your ideas on how to improve .your experience on the site. If you have a comment or recommendation please contact us at info@FoamFingerNation.com
      </p>

      <h1 class="faq-header">How do I report abuses to FFN?</h1>
      
      <p>
        Abuse or misuse of FFN will not be tolerated. If you find a fan using abusive language or behavior that is detrimental to FFN please contact us at info@FoamFingerNation.com.
      </p>

      <h1 class="faq-header">Can we rate watch parties?</h1>
      
      <p>
        FFN is currently working on a system for fans to be able to rate watch parties. Until this system is completely integrated into FFN the best way to rate watch parties is through a post on your team’s page. This will allow other fans to see your watch party review. We understand this is not ideal but please be patient while we continue to work towards the best way for you to find Where Your Fans At?

        Have additional questions? Send email to info@foamfingernation.com
      </p>
  </div>
</div> 
