<!-- <div class='header'><button id='upClick'>Go Up</button> <button id='downClick'>Go Down</button></div>

 -->
<div class='cover'><div class='rightSection'></div></div>
<section id="faq">
   <div class="container ">
      <div class=" col-md-3 col-xs-12 slide-area">
         <div class="">
            <div class="row">
               <div id="myCarousel" class="slide vertical">
                  <div class="carousel-inner" id="qs_div">
                     <div class="item" onclick="showhide('q1');">
                        <div class="text faq_active" id="q1d">
                           I own a restaurant or sports bar, can I host a public watch party?
                        </div>
                     </div>
                     <div class="item" onclick="showhide('q2');">
                        <div class="text col-md-12" id="q2d">What's the difference between a public and a private watch party?
                        </div>
                     </div>
                     <div class="item" onclick="showhide('q9');">
                        <div class="text col-md-12  " id="q9d">Can we rate watch parties?
                        </div>
                     </div>
                     <div class="item" onclick="showhide('q3');">
                        <div class="text col-md-12" id="q3d">What is a verified watch party?
                        </div>
                     </div>
                     <div class="item" onclick="showhide('q4');">
                        <div class="text col-md-12" id="q4d">If a watch party isn't verified does that mean there isn't going to be a watch party ?
                        </div>
                     </div>
                     <div class="item" onclick="showhide('q7');">
                        <div class="text col-md-12  " id="q7d">How do I recommend ideas or changes to the webmaster?
                        </div>
                     </div>
                     
                     <div class="item" onclick="showhide('q5');">
                        <div class="text col-md-12" id="q5d">I purchased a watch party voucher but decided not to use it. Can it still be redeemed?
                        </div>
                     </div>


                     <div class="item" onclick="showhide('q6');">
                        <div class="text col-md-12  " id="q6d">
                           Why do you prohibit some advertising on Foam Finger Nation?
                        </div>
                     </div>
                     <div class="item"onclick="showhide('q8');">
                        <div class="text col-md-12  " id="q8d" >How do I report abuses to FFN?
                        </div>
                     </div>
                  </div>
                  <i class="fa fa-chevron-down" id='downClick'></i>
                  <i class="fa fa-chevron-up"  id='upClick'></i>
               </div>
            </div>
         </div>
      </div>
      <div class=" col-md-offset-1 col-md-7 col-xs-12">
         <div class=" col-md-12 no-p faq_massage" id="q1">
            <h2 class="mrl-0">I own a restaurant 
               or sports bar, can I host a public watch party?
            </h2>
            <p>
               Yes, please register your establishment and you will be given the opportunity to submit a public watch party once you have established a profile.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q2">
            <h2 class="mrl-0">What's the difference between a public and a private watch party?
            </h2>
            <p>
               An invitation to a public watch party is sent to every fan of the teams playing in the area of the watch party. A private watch party you must send invitations only to the fans you would like to attend.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q3">
            <h2 class="mrl-0">What is a verified watch party?
            </h2>
            <p>
               A verified watch party means that the venue knows about the watch party has reserved a television with seating for those who RSVP through Foam Finger Nation.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q4">
            <h2 class="mrl-0">If a watch party isn't verified does that mean there isn't going to be a watch party?
            </h2>
            <p>
               Not necessarily. There are strength in numbers but you should arrive early to get the best seating available for your game and make sure you tell the venue about Foam Finger Nation!
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q5">
            <h2 class="mrl-0">I purchased a watch party voucher but decided not to use it. Can it still be redeemed?
            </h2>
            <p>
               The voucher is purchased for a specific watch party and it is up to the discression of the venue whether to redeem the voucher or not. Once a voucher is purchased there are no refunds unless the venue has closed.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q6">
            <h2 class="mrl-0">Why do you prohibit some advertising on Foam Finger Nation?
            </h2>
            <p>
               FFN believes that sports fans want a minimal amount of advertising and to only see advertising that is related to them as fans. FFN was envisioned as an only sports networking site so anything that takes away from this vision is prohibited from the website.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q7">
            <h2 class="mrl-0">How do I recommend ideas or changes to the webmaster?
            </h2>
            <p>
               FFN was created for you the sports fan so we would greatly appreciate your ideas on how to improve your experience on the site. If you have a comment or recommendation, please contact us at info@FoamFingerNation.com
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q8">
            <h2 class="mrl-0">How do I report abuses to FFN?
            </h2>
            <p>
               Abuse or misuse of FFN will not be tolerated. If you find a fan using abusive language or behavior that is detrimental to FFN please contact us at info@FoamFingerNation.com.
            </p>
         </div>
         <div class=" col-md-12 no-p faq_massage hidden_d" id="q9">
            <h2 class="mrl-0">Can we rate watch parties?
            </h2>
            <p>
               FFN is currently working on a system for fans to be able to rate watch parties. Until this system is completely integrated into FFN the best way to rate watch parties is through a post on your team’s page. This will allow other fans to see your watch party review. We understand this is not ideal but please be patient while we continue to work towards the best way for you to find Where Your Fans At?

               Have additional questions? Send email to info@foamfingernation.com
            </p>
         </div>
      </div>
   </div>
</section>