<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">

    <h1 class="faq-header">Fans</h1>
    <p>
      If you're a fan, register for Foam Finger Nation using our quick login feature via Facebook, or simply fill out the short registration form to get started. Once you register, update your profile image, add your favorite teams using the edit profile section and discover watch parties in your area! Register using Facebook and select additional friends via Facebook and invite them to join Foam Finger Nation from the bottom of the Home page.
    </p>

    <h1 class="faq-header">Alumni Groups</h1>
    <p>
      There's a special place place in the heart of FFN for Alumni Groups.  If you're an Alumni Group, be sure to register for Foam Finger Nation and select Alumni Group account option on the sign up screen, then simply fill out the short registration form to get started. Once you register, update your profile image, add your favorite teams using the edit profile section and discover watch parties in your area. If you register using Facebook select additional friends via Facebook and invite them to join Foam Finger Nation from the bottom of the Home page.
    </p>

    <h1 class="faq-header">Restaurants and Bars</h1>
    <p>
      If you're a Restaurant or Bar owner looking to engage more customers, create an account and selcet the Bar/Establishment account type using our simple registration form.  Once you register, you'll automatically have access to the tools on Foam Finger Nation. If you have a Facebook account for your establishment and want to login using that account, be sure to be logged into FB under that account before signing up.  Once your signed up, start by creating a watch party so fans and Alumni Group in your area discover your establishment.  Add promotions to each watch party to drive additional patriotism and interest.  That's how it all works!
    </p>
  </div>
</div>
