<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">
    
    <h1 class="info-page-title">Jobs</h1>
    <p>
      There are no open positions at this time, but we're always looking to recruit talented people. Please send your resume to info@foamfingernation.com if you're interested in joining us.
    </p>  

  </div>
</div> 
