  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header  row">
        <div class="col-md-12">
          <div class="sport_caption pull-right ">
            <span>Jobs</span>
            <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-6">
              <h3 class="form-title">Jobs</h3>
              <p>
                There are no open positions at this time, but we're always looking to recruit talented people. Please send your resume to info@foamfingernation.com if you're interested in joining us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

