  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="Following_header sport_header  row">
        <div class="col-md-12">
          <div class="sport_caption col-md-4 pull-right ">
            <h2 class="form-title">Privacy Policy</h2>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-6">
              <h3 class="faq-header">Privacy Policy</h3>
              <p>
                Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.
              </P>

              <h3 class="faq-header">Collection of Personal Information</h3>
              <p>
                When visiting Foam Finger Nation, the IP address used to access the site will be logged along with the dates and times of access. This information is purely used to analyze trends, administer the site, track users movement and gather broad demographic information for internal use. Most importantly, any recorded IP addresses are not linked to personally identifiable information.
              </P>

              <h3 class="faq-header">Links to Third-Party Websites</h3>
              <p>
                We have included links on this site for your use and reference. We are not responsible for the privacy policies on these websites. You should be aware that the privacy policies of these sites may differ from our own.
              </P>

              <h3 class="faq-header">Changes to this Privacy Statement</h3>
              <p>
                The contents of this statement may be altered at any time, at our discretion. If you have any questions regarding the privacy policy of then you may contact us at info@foamfingernation.com
              </P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>