<div class="row">
  <%= render "sidebar" %>
  <div class="col-sm-9">

      <h1 class="faq-header">Site Usage and Terms</h1>
      <p>
        If you visit or use Foam Finger Nation you are subject to these terms of use. You may review our Privacy Policy for our practices on privacy.
      </p>

      <h1 class="faq-header">Copyright</h1>
      <p>
        All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Foam Finger Nation or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Foam Finger Nation, with copyright authorship for this collection by Foam Finger Nation, and protected by international copyright laws. 
      </p>

      <h1 class="faq-header">Trademarks</h1>
      <p>
        Foam Finger Nation's trademarks and trade dress may not be used in connection with any product or service that is not Foam Finger Nation's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Foam Finger Nation. All other trademarks not owned by Foam Finger Nation or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Foam Finger Nation or its subsidiaries.
      </p>

      <h1 class="faq-header">Your Membership Account</h1>
      <p>
        If you create a profile on Foam Finger Nation you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 18, you may use our website only with involvement of a parent or guardian.
      </p>
      <p>
        As a participant on Foam Finger Nation you agree to not post any abusive, obscene, vulgar, slanderous, hateful, threatening, sexually-orientated or any other material that may violate any laws be it of your country, the country where Foam Finger Nation is hosted or International Law.
      </p>
      <p>
        Foam Finger Nation and its associates reserve the right to refuse service, ban, terminate accounts, remove or edit content, or cancel accounts in their sole discretion if a user violates the terms of usage. The IP address of all posts are recorded to aid in enforcing these conditions. Foam Finger Nation has the right to remove, edit, move or close any topic at any time. The information collected in the registration process will not be disclosed to any third party without your consent. Foam Finger Nation stores all data entered by users and makes every attempt to prevent this information from being compromised. Users will not hold Foam Finger Nation responsible if data becomes comprimised. 
      </p>
  </div>
</div> 
