<h1>
Add Sponsor to Party Request
</h1>
<table class="table">

	<tr>
		<td>Party ID</td>
		<td><%= @data[:id] %></td>
	</tr>

	<tr>
		<td>Sponsor Name</td>
		<td><%= @data[:sponsorname] %></td>
	</tr>
	<tr>
		<td>Contact#</td>
		<td><%= @data[:cell] %></td>
	</tr>
	
</table>
