<h2>A Watch Party is coming up at your venue!</h2>

<p>
  <%= @party.name %><br>
  Team: <%= @party.team.name %><br>
  When: <%= @party.scheduled_for %><br>
</p>

<p>You can view your Venue <a href=<%= @url %>>here</a></p>


