  <div id="page-content-wrapper">
    <div class="container-fluid signup_header">
      <div class="main-area">
        <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="col-md-12">
          <div class="sport_caption  ">
          </div>
          <div class="login-area col-md-5 col-md-offset-4">
            <div class="login_box ">
              <%= render "devise/sessions/form" %>
            </div>
            <div class="social_area">
                <ul class="list-inline social_icon">
                  <li><strong>SIGN UP WITH</strong></li>
                  <%# resource_class.omniauth_providers.each do |provider| %>
                    <li><%= link_to omniauth_authorize_path(resource_name, "facebook") , :id => "sign_in" do %>
                      <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                      </span>
                    <% end %><p> Facebook </p></li>
                  <%# end %>
                  <li><a href="#">
                    <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x icon-background"></i>
                      <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                  </a><p>Twitter</p></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  