<!-- <div id="wrapper">
  <%#= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header row">
        <div class="col-md-12">
        <div class="mobile_header  ">
          <a href="#menu-toggle" class="btn btn-default pull-left menu-toggled" id="menu-toggle"><i class="fa fa-bars"></i> </a>
          <div class="logo pull-right">
            <%#= link_to(image_tag("vendor/logo2.png"), root_path, alt: "FFN") %>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <h2 class="form-title">Sign In</h2>

          <%#= render "devise/sessions/form" %>

          <%#= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

<h2 class="form-title">Sign In</h2>

          <%= render "devise/sessions/form" %>

          <%= render "devise/shared/links" %>
