  <div id="page-content-wrapper">
    <div class="container-fluid signup_header">      
      <div class="row">
        <div class="col-md-12">
          <div class="sport_caption">
          </div>
          <div class="main-area">
            <div class="row">
              <div id='notice'>
                <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
              </div>
              <%= render partial: 'info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= link_to 'Show', account_path %> <!-- | --> <%#= link_to 'Home', root_path %>