<div id="wrapper">
  <%= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">      
      <div class="row">
        <div class="col-md-12">
          <div class="sport_caption">
            <div class="mobile_header">
              <a href="#menu-toggle" class="btn btn-default pull-left " id="menu-toggle"><i class="fa fa-bars"></i> </a>
              <div class="logo pull-left">
                <img src="images/logo2.png" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="main-area">
          <%= render partial: 'info' %>
          <a href="#"  data-toggle="modal" data-target="#myModal" >Change password</a>
          <%= render partial: 'password' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%#= link_to 'Show', account_path %> <!-- | --> <%#= link_to 'Home', root_path %>
