<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="sport_header  row">
      <div class="col-md-12">
        <div class="sport_caption pull-right ">
          <span>Create Account</span>
          <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow">
          <div class="col-md-8">
            <h2 class="form-title">Information</h2>
            <%= render "account/form"%>
            <%= render "devise/shared/links"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>