<div id="wrapper">
  <%= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="Following_header sport_header  row">
        <div class="col-md-12">
          <div class="sport_caption col-md-4 pull-right ">
            <h2><%= @u.first_name + " " + @u.last_name rescue "User not present" %></h2>
            <h4>800 Followers, 200 Following</h4>
            <button type="button" class="btn btn-green btn-default">Follow</button> 
          </div>
          <div class="mobile_header  ">
            <a href="#menu-toggle" class="btn btn-default pull-left " id="menu-toggle"><i class="fa fa-bars"></i> </a>
            <div class="logo pull-left">
              <%= link_to(image_tag("vendor/logo2.png"), root_path, alt: "FFN") %>
            </div>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-6">
              <h4>Austin TX | foamfingernation.com</h4>
              <p>A little bit about myself ; I enjoy long walks through the grocery store and creating scentilating conversation and somewhat obscenely colorful commentary over a few games of mini golf ,Oh, and the Longhorns are God's gift to Man. HOOK EM!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>