.navbar-brand {
  margin-top: -20px;
}

.dropdown-menu>li>a { 
  color: #999999;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
  color: #080808;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
  background-image: none; 
}

.dropdown-menu {
 background-color: #222222;
}

.dropdown-menu>li.divider {
  color: #222222;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
 background-color: #222222;
 color: #FFFFFF;
}