.rsvp-available-button{
	border: 1px solid #000;
	width: 150px !important;
	background-color: green;
	color: #fff !important;
	padding: 10px;
}

.rsvp-button{
	border: 1px solid #000;
	padding: 10px;
	color: #000;
	width: 150px;
}

.invite-friends-button{
	border: 1px solid black;
	width: 150px;
	padding: 10px;
	margin-left: 20px;
}

#details{
	margin-left: 20px;
	border: 1px solid #cacaca;
	padding: 5px;

	float: left;
	margin-right: 20px;
	margin-top:20px;
}

.clear-all{
	clear: all;
}

#available-packages{
	padding: 10px;
}

.parties-package-image img {
	padding: 1px;
}

.parties-package-name{
	font-weight: bold;
	font-size: 14px;
}

.available-packages-table{
	width: 100%;
}

.row-underlined{
	border-bottom: 1px solid #cacaca;
}

.bottom-margined{
	margin-top: 10px;
	padding-bottom: 10px;
}


