.rsvp-invite{
	margin-left: 200px;
}

.rsvp-available-button{
	border: 1px solid #000;
	width: 400px !important;
	background-color: green !important;
	color: #fff !important;
	padding: 10px;
}

.rsvp-available-button a, .rsvp-available-button a:visited{
	color: #fff !important;
	width: 200px !important;
}

.rsvp-available-button a:hover{
	text-decoration: none !important;
	background-color:#fff;
	color: #000 !important;
}


.rsvp-button{
	border: 1px solid #000;
	padding: 10px;
	color: #000 !important;
}


.invite-friends-button{
	border: 1px solid black;
	background-golor: white;
	width: 200px;
	height: 30px;
	padding: 10px;
	margin-left: 20px;
}

.invite-friends-button a {
	color: #000 !important;
}

.invite-friends-button a:hover {
	color: #fff !important;
}

#details{
	margin-left: 20px;
	border: 1px solid #cacaca;
	padding: 5px;
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-top:20px;
}

#major-details{
	
}

.clear-all{
	clear: all;
}

#available-packages{
	padding: 5px;
	margin-left: 20px !important;
}



