.voucher{
	margin-top:20px;
	border: 1px solid #cacaca;
	padding: 10px;
	margin-left: 15px;
	height: 75px;
}

.voucher_more_info{
  border: 1px solid #cacaca;
  width:100%;
}

.package-name{
	font-weight: bold !important;
	font-size: 14px !important;
	color: #000 !important;
}

.number-purchased{
	color: #cacaca !important;	
}

.voucher-logo{
	float: left;
}

.voucher-party-name{
	float: left;
	font-weight: bold;
	padding-top: 10px;
}

.voucher-purchased{
	float: left;
}

.voucher-purchase{
	float: right;
}

.voucher-information{

}

.voucher-description{
	border: 1px solid #cacaca;
	margin-left: 15px;
	padding: 10px;
}