<% flash.each do |type, message| %>
<div class="alert alert-<%= flash_type_to_alert(type) -%> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong><%= flash_type_to_alert(type).capitalize -%>!</strong> <%= message[0] -%></p>
</div>
<% end %>
<% flash.clear -%>