<footer id="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-sm-12">
               <p>©Copyright Foam Finger, LLC <%= Time.now.year %></p>
            </div>
            <div class="col-md-4 col-sm-12 ">
            <label>Subscribe to our newsletter</label>
            <form action="//FoamFingerNation.us3.list-manage.com/subscribe/post?u=239690fc056aa6ada314a97e9&amp;id=ed89fb5b2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank">
              <div class="input-group">
                <input type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder="Email Address">
                <span class="input-group-btn">
                  <!-- <button class="btn btn-lg" type="button">SIGN UP</button> -->
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_239690fc056aa6ada314a97e9_ed89fb5b2c" tabindex="-1" value="">
                  </div>
                  <div class="clear">
                    <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg">
                  </div>
                </span>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                </div>
              </div>
            </form>
           </div>
           <div class="col-md-4 col-sm-12 Privacy">
            <%= link_to "Privacy", "/privacy" %><span class="footer_pt"> * </span><%= link_to "Terms", "/terms" %>
          </div>
      </div>
   </div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>