<div class=" ch_location modal fade" id="loc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <h2>Location Status</h2>
      <div class="row">
          <div class="col-md-4 col-sm-4">
           <div class="form-group">
        <h5>Current Location</h5>
        <h4><strong id="curLoc">Austin, TX</strong></h4>
      </div>
          </div>
          <div class="col-md-8 col-sm-8">
           <div class="form-group">
        <h5>New Location</h5>
        <input type="em5il" class="form-control" id="newLocVal" placeholder="Richmond, VA">
      </div>

          </div>
          <div class="col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3">
            <button type="button" class="btn btn-green btn-default changeLoc" data-dismiss="modal">Change Your Location</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>