<div class="row">
    <div class="col-md-12 cols">
      <ul class="nav nav-tabs" role="tablist">
        <li class="tabs-title">Vouchers</li>
        <li class="<%= 'active' if current_page?( vouchers_path ) %>"><a href="#redeemable" role="tab" data-toggle="tab">Redeemable</a></li>
        <li><a href="#history" role="tab" data-toggle="tab">History</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="redeemable">
          <h3>Redeemable Vouchers</h1>
          <% @redeemable_vouchers.each do |voucher| %>
            <%= render :partial => "voucher", :locals => {:voucher => voucher}   %>
          <% end %>
        </div>
        <div class="tab-pane" id="history">
          <h3>History</h1>
          <% @history_vouchers.each do |voucher| %>
            <%= render :partial => "voucher", :locals => {:voucher => voucher}   %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  

<%= link_to 'New Voucher', new_voucher_path %>
